@charset "utf-8";

@media screen and (max-width: 1000px) {

    @import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    
        background-color: rgb(168, 187, 168);
        font-family: Arial, Helvetica, sans-serif;
        margin: 50px 0px;
    }
    
    header {
        background-color: white;
        margin-bottom: 20px;
    
        width: 15vw;
        text-align: center;
    }
    
    header h1 {
        font-size: 2.8em;
        font-family: "Pathway Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 50px;
        width: 50vw;

        color: rgb(168, 187, 168);   
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.692); 
    }
    
    header h1:hover {
        transition: 0.7s;
        color:darkseagreen;
        transform: scale(1) translate(-0%, -7%);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
    }
    
    
    main {
        background-color: white;
        border-radius: 10px;
    
        width: 53vw;
        padding: 25px;
        padding-bottom: 45px;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
    }
    
.espaco{
    width: 100vw;

    }
    

    #form input{
        font-size: 1em;
        width: 53vw;
        
    }

    #form label {
        font-size: 1.3em;
    }
    
    
     input {
        margin: 10px 0px;
        width: 35vw;
        height: 25px;
    
        border: solid rgba(0, 0, 0, 0.575);
        border-radius: 5px;
    }
    
    .envio{
        border: none;
        background-color:  rgb(168, 187, 168);
    
        width: 40vw;
        height: 38px;
    }
    
    .envio:hover {
        transition: 0.7s;
        background-color: rgb(30, 82, 30);
        color: white;
        transform: scale(1) translate(-0%, -7%);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
    }
    
    .cpfvalido{
        margin-top: 5px;
        color: green;
        margin: 10px 0px;
        text-align: center;
        width: 53vw;
        height: 25px;
        border-radius: 5px;
        font-weight: 650;
    }
    
    .cpfinvalido{
        text-align: center;
        color: red;
        margin: 10px 0px;
        width: 53vw;
        height: 25px;
        border-radius: 5px;
        font-weight: 650;
    }
    
    .senhaInvalida{
        color: red;
        margin: 10px 0px;
        text-align: center;
        width: 53vw;
        height: 25px;
        border-radius: 5px;
        font-weight: 650;
    
    }
    
    .senhavalida{
        margin-top: 5px;
        color: green;
        margin: 10px 0px;
        width: 53vw;
        text-align: center;
        height: 25px;
        border-radius: 5px;
        font-weight: 650;
    }
    
    .img {
        width: 25vw;
        border-radius: 100%;
        font-weight: 650;
        text-align: left;
        
    }

    .divIMG{
        width: 53vw;
        display: flex;
        justify-content: space-evenly;

    }
    
}

@media screen and (max-width: 750px) {

    body{
        margin: 0px;
    }

    main {
        width: 100vw;
        height: auto;
        margin: 0px;
        padding-top: 100px;
        display: flex;
        flex-flow: column wrap;

    }

    header {
        background-color: white;
        margin-bottom: 20px;
    
        width: 100vw;

        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    header h1 {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .forms {
    width: 100vw;
    display: flex;
    justify-content: space-around;

    }
    #form input {
        width: 75vw;
    }


    .espaco{
        width: 100vw;

        }

    .divIMG{
        width: 100vw;
        display: flex;
        justify-content: space-evenly;

    }

    .senhainvalida {
        width: 75vw;
        text-align: center;
    }

    .cpfvalido {
        width: 75vw;
        text-align: center;
    }
}

@media screen and (max-width: 400px){

    #form{
        width: 85vw;
    }
    #form input {
        width: 85vw;

    }

    .cpfvalido {
        width: 85vw;
        text-align: center;
    }

    .senhainvalida {
        width: 85vw;
        text-align: center;
    }
}